@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.sidebar {
  position: fixed;
  left: 0;
  width: 240px;
  height: calc(100% - 0px);
  background-color: #1f2937;
  color: #e7d5e7;
  padding: 20px;
  z-index: 40;
  font-family: "Source Sans 3";
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 350px;
}

.sidebar li {
  margin: 5px 0;
  cursor: pointer;
  font-size: 18px;
}

.sidebar a:hover {
  color: #ef0d0d;
}

a {
  color: #e7d5e7;
  text-decoration: none;
}

.sidebar img {
  margin: 10px;
}

.sidebar hr {
  width: 100%;
}

.nav-link.active {
  color: #ef0d0d;
}
