@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.playersCard {
  background-color: #1f2937;
  padding: 10px;
  height: 60%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  color: #e7d5e7;
  font-family: "Source Sans 3";
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.infoP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

.infoPessoais {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

button {
  background-color: rgb(239, 13, 13);
  padding: 5px;
  outline: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

hr {
  width: 400px;
}

.team-logo {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.topo {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.space {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
