@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.teamsCard {
  background-color: #1f2937;
  padding: 10px;
  height: 250px;
  width: 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  color: #e7d5e7;
  font-family: "Source Sans 3";
  font-size: 11px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info hr {
  width: 100%;
}

button {
  background-color: rgb(239, 13, 13);
  padding: 2px;
  outline: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 10px;
}
